/* remove default margin and padding from body */
body {
  padding: 5px;
  margin: 5px;
}

/* set map, body, and html to 100% of the screen size */
#map,
body,
html {
  height:99%;
  width:99%;
}



.legend {
    line-height: 20px;
    color: #557;
    /* background-color: aliceblue;
    padding: 5px;
    border-radius: 5px; */
}
.legend i {
    width: 20px;
    height: 20px;
    float: left;
    margin-right: 8px;
    opacity: 0.7;
}

.leaflet-bottom.leaflet-left{
    width: 90%;
  }


.leaflet-control-container .leaflet-timeline-controls{
box-sizing: border-box;
width: 100%;
margin: 0;
margin-bottom: 15px;
}  